<section class="container" id="section-container">
    <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title"
                    placeholder="Title" required>
            </div>
            <div class="form-group">
                <label for="prompt">Prompt</label>
                <textarea class="form-control" rows="5" [(ngModel)]="prompt" name="prompt" id="prompt" placeholder="Prompt"></textarea>
                <button type="button" class="btn btn-primary" (click)="generateContent()">Generate</button>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <ckeditor [(ngModel)]="content" [editor]="Editor" name="content" class="form-control" id="content" aria-required="true"></ckeditor>
            </div>
            <div class="form-group">
                <input type="file" (change)="onFileSelected($event)" name="images" class="form-control-file" id="image"
                    placeholder="File" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
</section>