<section class="py-5">
  <div class="container">
    <h1>All Articles</h1>
    <div>
      <a (click)="filterArticles()">All </a>
      <a *ngFor="let category of categories" (click)="filterArticles(category.value)">{{ category.viewValue }} </a>
    </div>
    <div class="row">
      <div *ngFor="let article of articles" class="col-lg-4 col-md-6 col-sm-12">
        <a [routerLink]="['/articles/article', article.id]" class="box-link">
          <div class="box">
<!--            <img [style.background-image]="'url(' + getArticleImage(article.id) + ')'" class="d-block w-100 mb-3 article-image"/>-->
            <h3>{{article.title}}</h3>
            <p [innerHTML]="truncateHTML(article.content, 300)"></p>
            <p>{{article.dateOfCreated | date:'d MMMM y HH:mm'}}</p>
            <p>Author: {{article.user.firstName}}</p>
            <p>Views: {{article.views}}</p>
          </div>
        </a>
        <button *ngIf="isAdmin" (click)="updateArticle(article)" class="btn btn-primary" data-placement="top"
                data-original-title="Edit" style="margin-left: 10px;">Edit
        </button>
        <button *ngIf="isAdmin" (click)="deleteArticle(article.id)" class="btn btn-danger" data-placement="top"
                data-original-title="Delete" style="margin-left: 10px;">Delete
        </button>
      </div>
    </div>
  </div>
  <!-- Notification for no articles -->
  <div *ngIf="articles?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO ARTICLES!</h4>
      <p>No Articles were found.</p>
    </div>
  </div>
</section>
