<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/articles/create">Add article</a>
                    </li>
                    <li class="nav-item" th:if="${not #authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" routerLink="/login">Log in</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown09">
                            <li><a class="dropdown-item" routerLink="/account">My Account</a></li>
                            <li><a class="dropdown-item" routerLink="/articles/create">Create an article</a></li>
                            <li><form class="dropdown-item" action="/logout" method="post">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                <input type="submit" value="Log out"/>
                            </form></li>
                        </ul>
                    </li>
                </ul>
                <form>
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>