<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>AI Blog</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/">Blog</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/articles">Articles</a></li>
        <li *ngIf="!token"><a routerLink="/login">Log in</a></li>
        <li *ngIf="token && isAdmin"><a routerLink="/articles/create">Create an article</a></li>
        <li *ngIf="token && isAdmin"><a routerLink="/admin/panel">Admin Panel</a></li>
        <li *ngIf="token"><a routerLink="/logout">Log out</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
<!--      TODO: fix this search form-->
      <form #searchForm="ngForm" (ngSubmit)="searchArticles(searchForm.value.name)" class="d-flex">
        <input ngModel type="search" name="title" placeholder="Search" aria-label="Search" #searchInput
               class="form-control">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div><!-- End Search Form -->


  </div>

</header><!-- End Header -->
