<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create form</title>
</head>
<body>
<form th:action="@{/admin/article-form}" th:object="${article}" method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title"><br/>
    <label for="content">Content</label>
    <input type="text" th:field="*{content}" id="content" placeholder="Content"><br/>
    <label for="image">Image</label>
    <input type="file" th:field="*{images}" id="image" placeholder="File" multiple><br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Submit Form">
</form>
</body>
</html>