<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div th:switch="${articles}">
    <h2 th:case="null">No forms found!</h2>
    <div th:case="*">
        <h2>Articles</h2>
        <div th:each="article : ${articles}">
            <p><b th:text="${article.title}"/> |
                <span th:text="${article.user.firstName}"/>
                <a th:href="@{/articles/article/{id}(id=${article.id})}">More</a></p>
        </div>
    </div>
</div>
</body>
</html>