<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<h4>Login</h4>
<form th:action="@{/login}" method="post">
    <label for="email">Email</label>
    <input type="email" name="username" id="email" placeholder="Email"><br/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Login"/>
</form>
<a href="/registration">Sign Up</a>
</body>
</html>