<section class="single-post-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 post-content" data-aos="fade-up">

        <!-- ======= Single Post Content ======= -->
        <div *ngIf="article" class="single-post">
          <div class="post-meta"><span class="date">{{article.user.firstName}}</span> <span class="mx-1">&bullet;</span><span
            class="date">{{article.category}}</span> <span class="mx-1">&bullet;</span>
            <span>{{article.dateOfCreated | date:'d MMMM y HH:mm'}}</span>
          </div>
          <h1 class="mb-5">{{article.title}}</h1>
          <div class="my-4">
            <img [src]="getImage(0)" alt="" class="img-fluid">
          </div>
          <p [innerHTML]="article.content"></p>
        </div><!-- End Single Post Content -->
        <app-comments [currentUserId]="currentUserId" [currentArticleId]="article.id">

        </app-comments>
      </div>
      <div class="col-md-3">
        <!-- ======= Sidebar ======= -->
        <app-sidebar>

        </app-sidebar>
      </div>
    </div>
  </div>
</section>
