<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Admin</title>
</head>
<body>
<section layout:fragment="content">
<div th:switch="${article}">
    <h2 th:case="null">No forms found!</h2>
    <div th:case="*">
        <h2>Forms</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${article}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.content}"></td>
                <td th:text="${article.user.firstName}"></td>
                <td><a th:href="@{/admin/article/delete/{id}(id=${article.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a th:href="@{/admin/article-form}">Create article</a>
</div>
</section>
</body>
</html>